<div id="doc" class="container-fluid markdown-body" data-hard-breaks="true" style="font-family: 'Roboto', sans-serif; font-weight: 400; padding-top: 5%;">
  <div style="padding-left: 20%; padding-right: 20%;">
    <div style="padding-bottom: 5%;">
      <br>
      <h1 style="line-height: 0;">{{.payload.Title}}</h1>
      <hr>
      <a style="float: left; color: rgb(209, 209, 209); font-weight: 300;">{{.payload.Date}}</a>
      <a style="float: right; color: rgb(76, 161, 103); font-weight: 300; text-decoration: none;" href="/">All Posts</a>
      <br>
    </div>